## {{ ansible_managed }}
##
## User-specific privilege specification
##

{{ user.name }} ALL=(ALL) ALL
{% for entry in passwordless_sudo %}
{{ user.name }} ALL=(ALL) NOPASSWD:{{ entry }}
{% endfor %}
