## {{ ansible_managed }}
##
## Defaults settings
##
Defaults    insults

##
## User privilege specification
##
root ALL=(ALL) ALL

%wheel ALL=(ALL) ALL
{% if passwordless_sudo is defined %}
{% for entry in passwordless_sudo %}
%wheel ALL=(ALL) NOPASSWD:{{ entry }}
{% endfor %}
{% endif %}

## Read drop-in files from /etc/sudoers.d
## (the '#' here does not indicate a comment)
#includedir /etc/sudoers.d
