## {{ ansible_managed }}
##
## User privilege specification
##
root ALL=(ALL) ALL
%sudo ALL=(ALL) ALL
%wheel ALL=(ALL) ALL
{% if passwordless_sudo is defined %}
{% for entry in passwordless_sudo %}
%wheel ALL=(ALL) NOPASSWD:{{ entry }}
{% endfor %}
{% endif %}

Defaults insults

#includedir /etc/sudoers.d
